<p id="notice"><%= notice %></p>

<div class="top">
  <h1>Listing Writers</h1>
  <%= link_to 'New Writer', new_writer_path, class: 'btn' %>
</div>

<table>
  <thead>
    <tr>
      <th>Fullname</th>
      <th>Age</th>
      <th>Bio</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @writers.each do |writer| %>
      <tr>
        <td><%= writer.fullname %></td>
        <td><%= writer.age %></td>
        <td><%= writer.short_bio %></td>
        <td><%= writer.image %></td>
        <td><%= link_to 'Show', writer %></td>
        <td><%= link_to 'Edit', edit_writer_path(writer) %></td>
        <td><%= link_to 'Destroy', writer, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: 'delete_writer' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
